$white: #fff;
$white-dark: #f5f5f5;
$black: #000;

$color-grey-dark:#666;
$color-grey-dark-2:#888;
$color-grey-dark-3:#171719;
$color-blue:#1385cc;
$color-blue-dark:#0068a8;
$color-green:#00c22d;
$color-green-dark:#0ba02e;
$color-red:#df0700;
$color-red-dark:#910500;
$color-yellow:#fa9a45;
$color-yellow-dark:#F2882C;