$white: #fff;
$white-dark: #f5f5f5;
$black: #000;
$color-primary:#eb2f64;
$color-primary-light:#ff3366;
$color-primary-dark:#ba265d;

$color-grey-dark:#666;
$color-grey-dark-2:#ddd;
$color-grey-dark-3:#171719;
$color-blue:#0BA1FE;
$color-blue-dark:#0068a8;
$color-green:#00c22d;
$color-green-dark:#0ba02e;
$color-red:#df0700;
$color-red-dark:#910500;
$color-yellow:#fa9a45;
$color-yellow-dark:#F2882C;