@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700;900&display=swap');
@import './colors.scss';
@import './mixin.scss';

*,
*::after,
*::before {
  padding: 0;
  margin: 0;
}

html {
  font-size: 62.5%;

  @include media(68.75em) {
    font-size: 50%;
  }
}

body {
  font-family: 'Lato', sans-serif;
  font-weight: 400;
  box-sizing: border-box;
  background-color: $color-grey-dark-3;
}

