@import '../../../Globals/colors.scss';
@import '../../../Globals/mixin.scss';

.Header {
  &__content {
    width: 100%;
    background-color: $color-grey-dark-3;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2rem 0;
    position: sticky;
    top: 0;
    left: 0;
    z-index: 200;
  }

  &__box {
    margin: 0 2rem;
    display: flex;
    justify-content: center;
    align-items: center;

    @include media(41em) {
      &:nth-child(3) {
        display: none;
      }
     }
  }

  &__image {
    height: 5rem;
    width: 5rem;
    border-radius: .3rem;
    margin-right: 1rem;
  }

  &__form {
    position: relative;
  }

  &__input  {
    padding: .5rem 3rem .5rem 1rem;
    border: none;
    border-radius: .3rem;
    font-size: 1.7rem;
    height: 3rem;
    width: 15rem;
    transition: all .3s;

    &:focus {
      outline: none;
      width: 40rem;
    }

    @include media(29em) {
      &:focus {
        width: 30rem;
      }
    }
  }

  &__btn {
    cursor: pointer;
    position: absolute;
    right: 1.5%;
    top: 20%;
    font-weight: 200;
    background-color: transparent;
    border: none;
    padding: .5rem;
  }

  &__link, &__link--options {
    &:visited,&:link {
      text-decoration: none;
      color: $white;
      font-size: 2rem;
      margin-right: 2rem;
      position: relative;

      &::before {
        content: '';
        display: block;
        width: 100%;
        height: .1rem;
        bottom: -10%;
        width: 0;
        background-color: $white;
        position: absolute;
        transition: all .3s;

        @include media(41em) { 
          background-color: transparent;
        }
      }
    }

    &:hover::before {
      width: 100%;
    }
  }

  &__link--options {
    &:visited,&:link {
      @include media(41em) {
        font-size: 3rem;
        width: 10rem;
        margin-right: 0;
        background-image: linear-gradient(120deg, transparent 50% , $white 50% );
        background-size: 30rem;
        transition: all .5s;
        text-align: center;
        padding: 1rem;

        &:hover {
          background-position: 100%;
          color: $black;
        }

        &:not(:last-child) {
          margin-bottom: 1rem;
        }
      }
    }
  }

  &__icon {
    width: 1.5rem;
    height: 1.5rem;
  }

  &__options {
    visibility: hidden;
    opacity: 0;
    cursor: pointer;

    @include media(41em) {
      visibility: visible;
      opacity: 1;
      margin-right: 2rem;
    }
  }

  &__icon--options {
    height: 3rem;
    width: 3rem;
    color: $white;
  }

  &__box--options { 
    display: none;
    @include media(41em) {
      flex-direction: column;
      position: fixed;
      background-color: $color-grey-dark-3;
      top: 0;
      left: 0;
      z-index: 2000;
      height: 100%;
      width: 100%;
      margin: 0;
      display: flex;
      justify-content: center;
      align-items: center;
      transition: all .3s;
    }
  }
  
  &__close {
    display: none;
    @include media(41em) {
      display: block;
      position: absolute;
      top: 0;
      right: 0;
      background-color: transparent;
      border: none;
      cursor: pointer;
      padding: 2rem;

      &:focus {
        outline: none;
      }
    }
  }

  &__icon--close {
    color: $white;
    font-size: 4rem;
    transition: all .2s;

    &:hover {
      color: $color-grey-dark-2;
    }
  }

}